apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs
spec:
 replicas: 3
 selector:
   matchLabels:
     app: nodejs-app
 template:
   metadata:
     labels:
       app: nodejs-app
   spec:                  
     containers:
     - name: nodejs-app
       image: mercybassey/node-app:latest
       ports:
       - containerPort: 4000
---
apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
spec:
  type: LoadBalancer
  selector:
    app: nodejs-app
  ports:
    - port: 80
      targetPort: 4000
