apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs
spec:
 replicas: 2
 selector:
   matchLabels:
     app: nodejs-app
 template:
   metadata:
     labels:
       app: nodejs-app
   spec:                  
     containers:
     - name: nodejs-app
       image: vigneshvicky12345/node-app:latest
       imagePullPolicy: Always
       ports:
       - containerPort: 4000
---
apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
spec:
  type: NodePort
  selector:
    app: nodejs-app
  ports:
    - port: 8081
      protocol: TCP
      targetPort: 4000
